In [1]:
import rosbag, bagpy
import pandas as pd
import pyrealsense2 as rs
import seaborn as sea
import matplotlib.pyplot as plt
import numpy as np
from bagpy import bagreader
from std_msgs.msg import Int32, String

import argparse
import cv2

## Use bagpy, '\*.bag' to '\*.csv'

In [2]:
b = bagreader('../data_bagfile/20220726_205623.bag') # load bag file (bagpy)
#220817_rosbag_example.bag
#20220726_205623.bag

[INFO]  Data folder ../data_bagfile/20220726_205623 already exists. Not creating.

In [3]:
b.topic_table[0:10] # Check available topics

#/xeye_ros/pointcloud2	sensor_msgs/PointCloud2

,Topics,Types,Message Count,Frequency
0,/device_0/info,diagnostic_msgs/KeyValue,13,NaN
1,/device_0/sensor_0/Depth_0/image/data,sensor_msgs/Image,96,14.98509
2,/device_0/sensor_0/Depth_0/image/metadata,diagnostic_msgs/KeyValue,2304,NaN
3,/device_0/sensor_0/Depth_0/info,realsense_msgs/StreamInfo,1,NaN
4,/device_0/sensor_0/Depth_0/info/camera_info,sensor_msgs/CameraInfo,1,NaN
5,/device_0/sensor_0/Depth_0/tf/0,geometry_msgs/Transform,1,NaN
6,/device_0/sensor_0/info,diagnostic_msgs/KeyValue,2,NaN
7,/device_0/sensor_0/option/Asic_Temperature/des...,std_msgs/String,1,NaN
8,/device_0/sensor_0/option/Asic_Temperature/value,std_msgs/Float32,1,NaN
9,/device_0/sensor_0/option/Auto_Exposure_Limit/...,std_msgs/String,1,NaN

In [4]:
b.topic_table["Types"][0]

'diagnostic_msgs/KeyValue'

In [11]:
b.topic_table["Topics"][1]

'/device_0/sensor_0/Depth_0/image/data'

In [13]:
b.message_by_topic('/device_0/sensor_0/Depth_0/image/data')

'../data_bagfile/20220726_205623/device_0-sensor_0-Depth_0-image-data.csv'

In [14]:
b_df = pd.read_csv('../data_bagfile/20220726_205623/device_0-sensor_0-Depth_0-image-data.csv')

In [22]:
b_df

,Time,header.seq,header.stamp.secs,header.stamp.nsecs,header.frame_id,height,width,encoding,is_bigendian,step,data
0,0.002192,1472,1658836583,805019855,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
1,0.069076,1473,1658836583,871524572,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
2,0.135434,1474,1658836583,938027143,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
3,0.202347,1475,1658836584,4525661,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
4,0.268949,1476,1658836584,71021080,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
...,...,...,...,...,...,...,...,...,...,...,...
91,6.073547,1563,1658836589,862177372,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
92,6.140237,1564,1658836589,929263830,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
93,6.207042,1565,1658836589,996359587,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
94,6.273639,1566,1658836590,63464880,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
95,6.340453,1567,1658836590,130579233,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...

In [29]:
b_df['Time'][15]

1.0029121

In [34]:
b_df['data'][2][:300]

"b'\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x13\\x0c\\x0b\\x0c\\xfb\\x0b\\xe3\\x0b\\xdb\\x0b\\xcc\\x0b\\xc4\\x0b\\xbc\\x0b\\xbc\\x0b\\xb5\\x0b\\xad\\x0b\\xad\\x0b\\xa5\\x0b\\xa5\\x0b\\x"

In [14]:
for i in range(len(b.topic_table)):
    if ('Point' in b.topic_table["Types"][i]):
        print(i)
        print(b.topic_table["Topics"][i])
        print(b.topic_table["Types"][i])

In [7]:
data = b.message_by_topic('/xeye_ros/pointcloud2')
print("File saved: {}".format(data))

data = b.message_by_topic('/xeye_ros/sparse_map_slam')
print("File saved: {}".format(data))

File saved: ../data_bagfile/220817_rosbag_example/xeye_ros-pointcloud2.csv
File saved: ../data_bagfile/220817_rosbag_example/xeye_ros-sparse_map_slam.csv

In [5]:
device_info = pd.read_csv('../data_bagfile/20220726_205541/device_0-info.csv')

device_info

,Time,key,value
0,1.000000e-09,Name,Intel RealSense D455
1,1.000000e-09,Serial Number,142422250008
2,1.000000e-09,Firmware Version,05.13.00.50
3,1.000000e-09,Recommended Firmware Version,05.13.00.50
4,1.000000e-09,Physical Port,\\?\usb#vid_8086&pid_0b5c&mi_00#7&2819c762&0&0...
5,1.000000e-09,Debug Op Code,15
6,1.000000e-09,Advanced Mode,YES
7,1.000000e-09,Product Id,0B5C
8,1.000000e-09,Camera Locked,YES
9,1.000000e-09,Usb Type Descriptor,2.1
10,1.000000e-09,Product Line,D400
11,1.000000e-09,Asic Serial Number,131323061705
12,1.000000e-09,Firmware Update Id,131323061705

In [8]:
len(device_info)

13

In [9]:
data = b.message_by_topic('/device_0/sensor_0/Depth_0/image/data')
print("File saved: {}".format(data))

File saved: ../data_bagfile/20220726_205541/device_0-sensor_0-Depth_0-image-data.csv

In [10]:
data = b.message_by_topic('/device_0/sensor_0/Depth_0/image/metadata')
print("File saved: {}".format(data))

File saved: ../data_bagfile/20220726_205541/device_0-sensor_0-Depth_0-image-metadata.csv

In [11]:
image_data = pd.read_csv('../data_bagfile/20220726_205541/device_0-sensor_0-Depth_0-image-data.csv')

image_data

,Time,header.seq,header.stamp.secs,header.stamp.nsecs,header.frame_id,height,width,encoding,is_bigendian,step,data
0,0.003150,833,1658836541,176807880,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
1,0.069240,834,1658836541,243269444,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
2,0.136136,835,1658836541,309726000,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
3,0.202789,836,1658836541,376178980,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
4,0.269398,837,1658836541,442627907,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
...,...,...,...,...,...,...,...,...,...,...,...
173,11.544995,1006,1658836552,708071232,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
174,11.611734,1007,1658836552,775647402,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
175,11.678467,1008,1658836552,843237638,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
176,11.745232,1009,1658836552,910841942,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
177,11.811915,1010,1658836552,978461504,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...

In [8]:
image_metadata = pd.read_csv('../data_bagfile/20220726_205541/device_0-sensor_0-Depth_0-image-data.csv')

image_metadata

,Time,header.seq,header.stamp.secs,header.stamp.nsecs,header.frame_id,height,width,encoding,is_bigendian,step,data
0,0.003150,833,1658836541,176807880,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
1,0.069240,834,1658836541,243269444,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
2,0.136136,835,1658836541,309726000,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
3,0.202789,836,1658836541,376178980,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
4,0.269398,837,1658836541,442627907,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
...,...,...,...,...,...,...,...,...,...,...,...
173,11.544995,1006,1658836552,708071232,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
174,11.611734,1007,1658836552,775647402,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
175,11.678467,1008,1658836552,843237638,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
176,11.745232,1009,1658836552,910841942,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
177,11.811915,1010,1658836552,978461504,1,480,640,mono16,0,1280,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...

## Use pyrealsense2 - Exsamples in 'IntelRealSense/librealsense'

In [13]:
pipeline = rs.pipeline()

In [14]:
config = rs.config()

In [15]:
resolution_width = 640
resolution_height = 480
frame_rate = 15

In [16]:
config.enable_stream(rs.stream.depth, resolution_width, resolution_height, rs.format.z16, frame_rate)
config.enable_stream(rs.stream.infrared, 1, resolution_width, resolution_height, rs.format.rgb8, frame_rate)

In [17]:
rs.config.enable_device_from_file(config, '../data_bagfile/20220726_205541.bag')

In [18]:
config.enable_stream(rs.stream.depth, rs.format.z16, 30)

## Use rosbag

In [25]:
bag = rosbag.Bag('../data_bagfile/20220726_205541.bag') # load bag file (rosbag)

In [26]:
bag.close # free bag